body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
}

.flex.start {
    justify-content: flex-start;
}

.flex.center {
    justify-content: center;
}

.flex.end {
    justify-content: flex-end;
}

.font_weight {
    font-weight:bold;
}

.lighter_font {
    font-weight: lighter;
}

.sub_item_color {
    color: #2d3c49;
}

.subtitle {
    color: #7d97ad;
    font-weight: normal;
}

.hr_design {
    height: 5px;
    background-color: #7d97ad;
}

.movie_img {
    width: 300px;
    height: 250px;
}

.sub_item {
    margin: 1em;
}

@media only screen and (min-width: 1020px) {
    body {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    }
}
